#add_bookmark {
  position: absolute;
  width: 290px;
  z-index: 10;
  bottom: -50px;
  right: 0;
  height: 70px;
}

#bookmarklet {
  display: block;
  float: right;
  width: 281px;
  height:42px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/start_kancollet.png) no-repeat bottom;
}

#bookmarklet:hover {
  display: inline-block;
  width: 281px;
  height:42px;
  overflow: hidden;
  background: url(../images/start_kancollet_hover.png) no-repeat bottom;
}

#drag_to_bookmarkbar{
  top:-198px;
  left:0px;
  width:295px;
  height:183px;
  position:absolute;
  border:none;
  box-shadow: none;
  display: none;
}
